
  
  <html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
  </head>

  <body >

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [class.active]="currentPage === 'home'">
            <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Autos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Motos</a>
          </li>
          <li class="nav-item" [class.active]="currentPage === 'quiz'">
            <a class="nav-link quiz-nav-link" href="javascript:void(0)" (click)="navigateTo('quiz')">
              <span class="quiz-badge">Quiz Databricks</span>
            </a>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- Home Page -->
    <main role="main" *ngIf="currentPage === 'home'">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="container">
          {{title}}
        </h1>

      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          
          <div class="col-12">
          <Photos></Photos>
          </div>
          
        </div>

        <hr> 

      </div> <!-- /container -->

    </main>

    <!-- Quiz Page -->
    <div *ngIf="currentPage === 'quiz'" class="quiz-page-wrapper">
      <app-quiz></app-quiz>
    </div>

    <footer class="container" *ngIf="currentPage === 'home'">
      <p>&copy; Company 2017-2018</p>
    </footer>


</body>
</html>
 
 
